description = "Sobre mi"

[viewBag]
==

<section id="about-me" class="section section-no-border section-parallax custom-section-padding-1 custom-position-1 custom-xs-bg-size-cover parallax-no-overflow m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}"
{% if sitio.fondo.path=='' %}
    data-image-src="{{ 'assets/images/about-me/about-me-bg-1.jpg'|theme }}"
{% else %}
    data-image-src="{{ sitio.fondo.path }}"
{% endif %}
>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 custom-sm-margin-bottom-1">
                <img
                {% if sitio.fondo.path=='' %}
                    src="{{ 'assets/images/about-me/me.jpg'|theme }}"
                {% else %}
                    src="{{ dp.foto.path }}"
                {% endif %}
                class="img-fluid custom-border custom-image-position-2 custom-box-shadow-4" alt />
            </div>
            <div class="col-lg-6 col-xl-5">
                <h1 class="text-color-primary custom-font-size-1">{{ dp.nombre_completo }}</h1>
                <p class="text-color-light font-weight-normal custom-font-size-2 custom-margin-bottom-1">{{ dp.perfil }}</p>
                <span class="custom-about-me-infos">
                    <span class="custom-text-color-1 text-uppercase mb-3">{{ dp.slogan }}</span>
                    <span class="custom-text-color-1 text-uppercase">
                        <strong class="text-color-light">Trabajo Previo: </strong>{{trabajo}}
                        <a data-hash href="#experience" class="btn btn-tertiary text-uppercase custom-btn-style-1 text-1 ml-2">Ver más</a>
                    </span>
                    <span class="custom-text-color-1 text-uppercase">
                        <strong class="text-color-light">Estudios: </strong>{{estudios}}
                        <a data-hash href="#education" class="btn btn-tertiary text-uppercase custom-btn-style-1 text-1 ml-2">Ver más</a>
                    </span>
                </span>
            </div>
            <div class="col-lg-2 col-xl-3 d-none d-lg-block">
                <img
                {% if sitio.logo.path=='' %}
                    src="{{ 'assets/images/about-me/mouse.png'|theme }}"
                {% else %}
                    src="{{ sitio.logo.path }}"
                {% endif %}
                custom-anim class="img-fluid custom-image-pos-1" alt />
            </div>
        </div>
    </div>
    {% partial 'redes-sociales'%}

</section>

<div class="custom-about-me-links bg-color-light">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-3 text-center custom-xs-border-bottom p-0">
                <a data-hash href="#say-hello" class="text-decoration-none">
                    <span class="custom-nav-button text-color-dark">
                        <i class="icon-earphones-alt icons text-color-primary"></i>
                        Información de contacto
                    </span>
                </a>
            </div>
            <div class="col-lg-2 text-center custom-xs-border-bottom p-0">
                <a data-hash href="#say-hello" class="text-decoration-none">
                    <span class="custom-nav-button custom-divisors text-color-dark">
                        <i class="icon-envelope-open icons text-color-primary"></i>
                        Enviar un mensaje
                    </span>
                </a>
            </div>
            <div class="col-lg-3 text-center p-0">
                <a href="{{cv}}" class="text-decoration-none">
                    <span class="custom-nav-button text-color-dark">
                        <i class="icon-cloud-download icons text-color-primary"></i>
                        Descargar cv
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<section class="section section-no-border bg-color-light m-0">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="custom-box-details bg-color-light custom-box-shadow-1 col-lg-6 ml-5 mb-5 mb-lg-4 float-right clearfix">
                    <h4>Personal Details</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="custom-list-style-1 p-0 mb-0">
                                <li>
                                    <span class="text-color-dark">Edad:</span>
                                    <span class="custom-text-color-2">{{ dp.edad }}</span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Estado civil:</span>
                                    <span class="custom-text-color-2">{{ dp.estado_civil }}</span>
                                </li>
                                <li>
                                    <span class="text-color-dark">Nacionalidad:</span>
                                    <span class="custom-text-color-2">Peruano</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="custom-list-style-1 p-0 mb-0">
                                <li>
                                    <span class="text-color-dark">EMAIL:</span>
                                    <span class="custom-text-color-2"><a class="custom-text-color-2" href="luis.mayta@gmail.com">luis.mayta@gmail.com</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">Sobre Mi</h2>
                    {{ dp.descripcion_corta|raw }}
                <div class="about-me-more" id="aboutMeMore">
                    {{ dp.descripcion|raw}}
                </div>
                <p></p>
                <a id="aboutMeMoreBtn" class="btn btn-tertiary text-uppercase custom-btn-style-1 text-1" href="#">ver más</a>

            </div>
        </div>
    </div>
</section>
