description = "experiencia"

[viewBag]
==

<section id="experience" class="section section-secondary section-no-border m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold">Experiencia</h2>
                <section class="timeline custom-timeline" id="timeline">
                    <div class="timeline-body">
                        {% for item in experiencias %}
                        <article class="timeline-box right custom-box-shadow-2">
                            <div class="row">
                                <div class="experience-info col-lg-3 col-sm-5 bg-color-primary">
                                    <span class="from text-color-dark text-uppercase">
                                        desde
                                        <span class="font-weight-semibold">{{ item.fecha_ini  }}</span>
                                    </span>
                                    <span class="to text-color-dark text-uppercase">
                                        hasta
                                        <span class="font-weight-semibold">{{ item.fecha_fin }}</span>
                                    </span>
                                    <p class="text-color-dark"></p>
                                    <span class="company text-color-dark font-weight-semibold">
                                        {{ item.empresa }}
                                        <span class="company-location text-color-dark font-weight-normal text-uppercase">{{ item.rubro }}</span>
                                    </span>
                                </div>
                                <div class="experience-description col-lg-9 col-sm-7 bg-color-light">
                                    <h4 class="text-color-dark font-weight-semibold">{{ item.cargo }}</h4>
                                    <p class="custom-text-color-2">{{ item.descripcion|raw }}</p>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                        <div class="timeline-bar"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
