description = "Recomendaciones"

[viewBag]
==
<section id="recommendations" class="section section-no-border bg-color-primary m-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">Referencias</h2>
            </div>
            <div class="col-lg-12 p-0">
                <div class="owl-carousel custom-dots-style-1 custom-dots-color-1 custom-dots-position-1 mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'loop': false, 'nav': false, 'dots': true}">
                    {% for item in recomendaciones %}
                        <div>
                            <div class="col">
                                <div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-0">
                                    <blockquote class="pb-2">
                                        <p class="custom-text-color-3">{{ item.recomendacion }}</p>
                                    </blockquote>
                                    <div class="testimonial-author float-left">
                                        <p><strong class="text-uppercase">{{ item.referencia }}</strong><span class="custom-text-color-3">{{ item.cargo }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
